html {
    font-size: 62.5%;
}
html, body, p, h1, h2, h3, h4, h5, h6, nav, ul, li, a, section, div, main, footer, button {
    @include reset;
}

.wrapper {
    width: calc(100% - 40px);
    margin: 0 auto;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}