$colors: (
    // primary: #xxxxxx,
);

$font-sizes: (
    // font-16: 1.6rem;
);

$font-weights: (
    // light: 300,
);

$font-styles: (
    // normal: normal,
);

$fonts: (
    // arial: ('arial', serif),
);